<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Store</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <h1><a href="/">Book Store</a></h1>
        <ul>
            <% if (user) { %>
               <li>Welcome, <%= user.username %></li>
                <li><a href="/users/logout">Log out</a></li>
                <li><a href="/users/settings" class="btn">Settings</a></li>
            <% } else { %>
                <li><a href="/users/login">Log in</a></li>
                <li><a href="/users/signup" class="btn">Sign up</a></li>
            <% } %>

        </ul>
    </nav>