<%- include('partials/header'); -%>

<header>
    <div class="headings">
        <h2>Books Store</h2>
        <h3>By Roman Stepaniuk</h3>
        <a href="/books" class="btn">View Books</a>
    </div>
</header>

<%- include('partials/footer'); -%>